@import "../utils/extends";

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    transition: 0.3s;
    z-index: 11111;

}

.sidebar-top {
    border-bottom: 1px solid #e3e3e3;
    padding: 0 25px;
    width: 100%;
    height: 70px;
    @include flex(row, space-between, center);

    p {
        font-family: "ClashDisplay-Regular";
        font-size: 20px;
        font-weight: 600;
    }
}

.closebtn {
    cursor: pointer;
    @include flex(null, null, center);
    gap: 5px;

    i {
        font-size: x-large;
    }

    span {
        font-family: "Satoshi-Variable";
        font-weight: 500;
    }
}


.sidebar-empty {

    &::-webkit-scrollbar {
        width: 4px;

    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
     
    }

    &::-webkit-scrollbar-thumb {
        background: #D5D5D5;
       
       
    }

    overflow-x: scroll;
    width: 100%;
    height: 100%;
    @include flex(column, null, center);
    gap: 18px;

    i {
        font-size: 80px;
        color: #e3e3e3;
    }

    p {
        font-family: "ClashDisplay-Regular";
        font-weight: 600;
    }


}

.return-btn {
    padding: 1.5% 1.8%;
    background-color: $main_color;
    color: white;
    border: none;
    transition: 300ms;
    cursor: pointer;

    &:hover {
        background-color: #495019;
    }
}

.item {
    cursor: pointer;
    transition: 300ms;

    span {
        color: rgb(164, 164, 164);
    }

    &:hover {
        background-color: #F8F8F8;
    }

    width: 100%;
    @include flex(row, null, start);

    i {
        font-size: small;
        color: black;
        cursor: pointer;
    }

}

.item-left {

    padding: 5%;

    img {
        width: 70px;

    }
}

.item-right {

    padding: 5% 0%;
    @include flex(column, start);
    gap: 10px;
    width: 100%;
    height: 100%;

    .item-right-bottom {
        font-family: 'Satoshi-Variable';
        font-weight: 500;
        color: $main_color;
    }



}

.item-delete {
    padding: 5% 2%;
}

.sidebar-bottom {
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 5%;
    font-family: 'Satoshi-Variable';
    font-size: larger;
    @include flex(column);
    gap: 20px;


    .price-div {
        @include flex(row, space-between, center);

        p {
            font-weight: 600;
        }

        p:nth-child(2) {
            color: $main_color;
        }

    }

    button {
        width: 100%;
        height: 50px;
        @extend .btn;
    }

}