@import "../utils/variables";
@import "../components/articleCards";

.articles-main {
border-bottom: 2px solid $main_color;

    .article-top {
        border-bottom: 2px solid $main_color;
        padding: 2% 0;

        h2 {
            font-family: "ClashDisplay-Regular";
        }
    }

  
}



