@import "../utils/variables";

.explore-section {
    padding: 0;
}

.explore-div {
    background-color: $main_color;
    width: 100%;
    font-family: "ClashDisplay-Regular";
    font-size: 68px;
    padding: 8%;
    color: white;
    font-weight: bold;
    height: 600px;
   
    p{
        
    }
    @media (max-width: 768px) {
        font-size: 27px;
    }

}