@import "../utils/mixins";
@import "../utils/variables";



header {
    @include flex(row, space-between, center);

    font-family: "SatoshiVariable", Arial, Helvetica, sans-serif;
    padding: 0 4%;

    .header-main {
        @include flex(row, space-between, center);
        width: 100%;
        border-bottom: 2px solid $border_color;
        padding: 2.5% 0;
        color: #333;
    }

    .header-left {

        justify-self: flex-start;

        ul {
            @include flex(row, center, center);
            list-style: none;
            gap: 25px;

            li {
                cursor: pointer;
                transition: 300ms;

                &:hover {
                    color: $border_color;
                }
            }

            i {
                color: gray;
            }
        }
    }

    .header-mid {

        img {
            width: 200px;
            cursor: pointer;
        }
    }

    .header-right {
        justify-self: flex-end;
        @include flex(row, center, center);
        gap: 25px;
        width: fit-content;

        i {
            font-size: large;

        }

        div {
            @include flex(row, end, center);
            gap: 10px;
            transition: 300ms;
            cursor: pointer;

            &:hover {
                color: gray;
            }
        }
    }

}

.shop-li {
    position: relative;
    .dropdown {
        height: 100px;
        width: 100vw;
        position: absolute;
        background-color: red;
        left: 0; 
        right: 0;
        display: none;
    }
}