@import "../utils/mixins";
@import "../utils/variables";

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.is-sticky {
    position: fixed;
    background-color: $bacground_color;
    padding: 0% 5%;
    animation: slideDown 0.35s ease-out;
    width: 100%;
    z-index: 10000;
    box-shadow: 0px 1px rgb(200, 200, 200);

    .header-main {
        border-bottom: none;
        @media (max-width: 768px) {
            max-width: 768px;
         }
    }

    .header-left {
        li {
            padding: 2% 0;
        }
    }
}

header {

    position: relative;
    padding: 0% 5%;
    font-family: 'Satoshi-Variable';
    font-weight: 500;


    .header-main {
        @include flex(row, space-between, center);
        width: 100%;
        border-bottom: 2px solid $main_color;
        padding: 1% 0;
        color: #333;
    }

    .header-left {

        justify-self: flex-start;

        ul {
            @include flex(row, center, center);
            list-style: none;
            gap: 25px;

            li {
                cursor: pointer;
                transition: 300ms;
                padding: 5% 0;

                a {
                    color: black;
                    text-decoration: none;
                    transition: 300ms;

                    &:hover {
                        color: $main_color;
                    }
                }


            }

            i {
                color: gray;
            }
        }
    }

    .header-mid {

        img {
            width: 200px;
            cursor: pointer;
            transform: translateX(-40px);
        }
    }

    .header-right {
        justify-self: flex-end;
        @include flex(row, center, center);
        gap: 25px;
        width: fit-content;

        i {
            font-size: large;

        }

        div {
            @include flex(row, end, center);
            gap: 10px;
            transition: 300ms;
            cursor: pointer;

            &:hover {
                color: gray;
            }
        }
    }

    @media (max-width: 768px) {
        .header-left, .header-right {
            display: none;
        }
    
        .header-main {
            justify-content: center;
            padding: 0;
        }
    
        .header-mid img {
            transform: translateX(0);
        }
    }
}

.shop-li {

    &:hover .dropdown {
        visibility: visible;
        transform: translateY(0px);
        opacity: 1;
    }
}