@import "../scss/base/reset";
@import "../scss/layout/header";
@import "../scss/components/dropdown";
@import "../scss/fonts/font";
@import "../scss/utils/extends";
@import "../scss/layout/footer";


.intro {
    font-family: "ClashDisplay-Regular";

    .title-div {
        color: $main_color;
        padding: 2% 0;
    }

    .welcome-main {
        .welcome-div {
            h1 {
                font-size: 68px;
                font-weight: 600;

            }
        }

        .intro-img-div {
            padding: 2% 0;
            @include flex(null, center, center)
        }
    }
}

.info-div {
    padding: 6% 0;
    @include flex(row, space-between, flex-start);

    .info-div-left {
        width: 40%;
        @include flex(column);
        gap: 20px;

        h1 {
            font-family: "ClashDisplay-Regular";
            font-size: 48px;
        }

        p {
            color: gray;
            font-family: 'Satoshi-Variable';
        }
    }

    .info-div-right {
        width: 50%;

        @include flex(column);

        .date-div {
            border-bottom: 2px solid $main_color;
            @include flex(row, space-between, center);
            padding: 4% 0;

            &:nth-child(1) {
                border-top: 2px solid $main_color;
            }

            p {
                font-family: "ClashDisplay-Regular";
                font-size: 28px;
                font-weight: 600;
            }

            span {
                font-family: "ClashDisplay-Regular";
                font-size: 48px;
                font-weight: bold;
                color: #bbbb;
            }
        }
    }
}

.images-div {
    padding-bottom: 5%;
    border-bottom: 2px solid $main_color;
    scrollbar-width: none;
    overflow-y: scroll;
    @include flex(row, );
    gap: 50px;
    user-select: none;


    .card {
        img {

            width: 400px;
            pointer-events: none;

        }
    }
}

.contactus-div {
    padding: 6% 0;
    @include flex(row, space-between);

    .contactus-div-left {
        @include flex(column);
        gap: 20px;
        width: 30%;

        h1 {
            font-family: "ClashDisplay-Regular";
            font-size: 48px;
        }

        p {
            font-family: 'Satoshi-Variable';
            font-size: 16px;
        }

        button {
            @extend .btn;
            width: fit-content;
            padding: 3% 5%;
        }
    }
}

.contactus-div-right {
    @include flex(row,null,end);
    gap: 20px;  
    width: 65%;

    .background-img {}

    .member-card {

        width: 450px;
        height: 600px;
        padding: 3%;
        position: relative;
        @include flex(column, end, center);
        overflow: hidden;
     

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        img {
            position: absolute;
            width: 450px;
            height: 600px;
            left: 0;
            top: 0;
            transition: 400ms;
        }

        &:hover {
            background-size: 110%;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 30%);
            pointer-events: none;
        }

        .member-info {
            @include flex(column, center, center);
            gap: 15px;
            z-index: 2;

            h2 {
                font-family: "ClashDisplay-Regular";
                color: white;
                font-size: 28px;
            }

            p {
                color: gray;
                font-family: 'Satoshi-Variable';
                font-size: 16px;
                font-weight: 500;
            }

            button {
                cursor: pointer;
                background-color: rgba(96, 96, 96, 0.8);
                width: 45px;
                height: 45px;
                border: none;
                border-radius: 50%;

                i {
                    color: white;
                    opacity: 1;
                    font-size: large;

                }
            }
        }
    }


}