* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F3ED;
}

section {
  padding: 0% 5%;
}
@media only screen and (min-width: 1200px) {
  section {
    padding: 0% 11%;
  }
}
@media only screen and (min-width: 992px) {
  section {
    padding: 0 4%;
  }
}

@keyframes downToUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes upToDown {
  0% {
    transform: translateY(0);
    opacity: 100%;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    padding: 0 11%;
  }
}
@media only screen and (min-width: 992px) {
  header {
    padding: 0 4%;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.is-sticky {
  position: fixed;
  background-color: #F6F3ED;
  padding: 0% 5%;
  animation: slideDown 0.35s ease-out;
  width: 100%;
  z-index: 10000;
  box-shadow: 0px 1px rgb(200, 200, 200);
}
.is-sticky .header-main {
  border-bottom: none;
}
.is-sticky .header-left li {
  padding: 2% 0;
}

header {
  position: relative;
  padding: 1% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "SatoshiVariable", Arial, Helvetica, sans-serif;
}
header .header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #5E6821;
  padding: 1% 0;
  color: #333;
}
header .header-left {
  justify-self: flex-start;
}
header .header-left ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 25px;
}
header .header-left ul li {
  cursor: pointer;
  transition: 300ms;
  padding: 5% 0;
}
header .header-left ul li:hover {
  color: #5E6821;
}
header .header-left ul i {
  color: gray;
}
header .header-mid img {
  width: 200px;
  cursor: pointer;
}
header .header-right {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: fit-content;
}
header .header-right i {
  font-size: large;
}
header .header-right div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 10px;
  transition: 300ms;
  cursor: pointer;
}
header .header-right div:hover {
  color: gray;
}

.shop-li:hover .dropdown {
  display: block;
  animation: downToUp 0.2s ease-in-out;
}
.shop-li:not(:hover) .dropdown {
  animation-direction: reverse;
  animation: downToUp 0.2s ease-in-out;
}

@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url("../fonts/ClashDisplay-Extralight.woff2") format("woff2"), url("../fonts/ClashDisplay-Extralight.woff") format("woff"), url("../fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Light";
  src: url("../fonts/ClashDisplay-Light.woff2") format("woff2"), url("../fonts/ClashDisplay-Light.woff") format("woff"), url("../fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"), url("../fonts/ClashDisplay-Regular.woff") format("woff"), url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"), url("../fonts/ClashDisplay-Medium.woff") format("woff"), url("../fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../fonts/ClashDisplay-Variable.woff") format("woff"), url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
.btn, .swiper-slide .info button {
  padding: 1.5% 1.8%;
  background-color: #5E6821;
  color: white;
  border: none;
  transition: 300ms;
  cursor: pointer;
}
.btn:hover, .swiper-slide .info button:hover {
  background-color: #495019;
}

.card-btn, .card .card-bottom button {
  padding: 4% 5%;
  background-color: #5E6821;
  color: white;
  border: none;
  transition: 300ms;
  cursor: pointer;
}
.card-btn:hover, .card .card-bottom button:hover {
  background-color: #495019;
}

.intro-main {
  color: #333333;
  border-bottom: 2px solid #5E6821;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0%;
}
.intro-main .intro-left {
  font-size: xx-large;
  font-family: "ClashDisplay-Regular";
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  gap: 45px;
  width: fit-content;
  height: 100%;
}
.intro-main .intro-left p {
  cursor: pointer;
  transition: 300ms;
}
.intro-main .intro-left p:hover {
  color: #5E6821;
}
.intro-main .intro-left i {
  transform: rotate(-45deg);
}

.vl {
  height: 600px;
  width: 2px;
  background-color: #5E6821;
}

.swiper {
  cursor: grab;
  width: 72%;
  height: 600px;
}

.swiper1 {
  background-image: url("https://woodmart.xtemos.com/plants/wp-content/uploads/sites/12/2023/05/w-ps-slide-2-opt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper2 {
  background-image: url("https://woodmart.xtemos.com/plants/wp-content/uploads/sites/12/2023/05/w-ps-slide-3-opt-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper3 {
  background-image: url("https://woodmart.xtemos.com/plants/wp-content/uploads/sites/12/2023/05/w-ps-slide-1-opt-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
}
.swiper-slide .info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  text-align: left;
  background-color: transparent;
  padding: 4%;
  gap: 20px;
}
.swiper-slide .info h1 {
  font-family: "ClashDisplay-Regular";
  font-weight: 600;
  font-size: 36px;
  width: 48%;
}
.swiper-slide .info h3 {
  font-family: "SatoshiVariable", Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 50%;
  font-weight: 300;
}
.swiper-slide .info p {
  font-family: "SatoshiVariable", Arial, Helvetica, sans-serif;
}
.swiper-slide .info div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn, .swiper-slide .info button {
  padding: 1.5% 1.8%;
  background-color: #5E6821;
  color: white;
  border: none;
  transition: 300ms;
  cursor: pointer;
}
.btn:hover, .swiper-slide .info button:hover {
  background-color: #495019;
}

.card-btn, .card .card-bottom button {
  padding: 4% 5%;
  background-color: #5E6821;
  color: white;
  border: none;
  transition: 300ms;
  cursor: pointer;
}
.card-btn:hover, .card .card-bottom button:hover {
  background-color: #495019;
}

@keyframes leftToRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}
@keyframes reverseLR {
  0% {
    transform: translateX(0);
    opacity: 100%;
  }
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}
.card-section {
  margin: 100px 0;
  font-family: "ClashDisplay-Regular";
}

.card-main-div {
  scrollbar-width: none;
  margin: 30px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 50px;
  overflow: scroll;
  cursor: grab;
}

.card {
  width: fit-content;
  user-select: none;
}
.card .card-top {
  overflow: hidden;
  background-color: transparent;
  width: 265px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 300ms;
  display: flex;
}
.card .card-top:hover {
  background-image: url("https://woodmart.xtemos.com/plants/wp-content/uploads/sites/12/2023/05/w-indoor-plants-small-1-1-351x401.jpg");
  background-repeat: no-repeat;
}
.card .card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .card-bottom {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card .card-bottom .fa-solid {
  color: #EABE12;
}
.card .card-bottom .fa-regular {
  color: gray;
}

.action-div {
  opacity: 0;
  margin-left: 200px;
  margin-top: 15px;
  transform: translate(20px);
  transition: 300ms;
}
.action-div button {
  width: fit-content;
  width: 50px;
  height: 45px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: 300ms;
}
.action-div button:hover {
  color: gray;
}
.action-div button i {
  font-size: large;
}

.dropdown {
  display: flex;
  padding: 2% 15%;
  width: 100%;
  margin-top: 1%;
  left: 0;
  position: absolute;
  z-index: 1000;
  background-color: white;
  display: none;
  flex-direction: row;
}

.dropdown-card-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
}

.dropdown-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.dropdown-card p {
  color: black;
  font-family: "ClashDisplay-Regular";
  font-weight: 500;
}
.dropdown-card .img-div {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.dropdown-card img {
  transition: 400ms;
  width: 80px;
  border-radius: 50%;
}
.dropdown-card img:hover {
  transform: scale(1.1);
}

.btn, .swiper-slide .info button {
  padding: 1.5% 1.8%;
  background-color: #5E6821;
  color: white;
  border: none;
  transition: 300ms;
  cursor: pointer;
}
.btn:hover, .swiper-slide .info button:hover {
  background-color: #495019;
}

.card-btn, .card .card-bottom button {
  padding: 4% 5%;
  background-color: #5E6821;
  color: white;
  border: none;
  transition: 300ms;
  cursor: pointer;
}
.card-btn:hover, .card .card-bottom button:hover {
  background-color: #495019;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 11111;
}

.sidebar-top {
  border-bottom: 1px solid #e3e3e3;
  padding: 0 25px;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sidebar-top p {
  font-family: "ClashDisplay-Regular";
  font-size: 20px;
  font-weight: 600;
}

.closebtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.closebtn i {
  font-size: x-large;
}
.closebtn span {
  font-family: "SatoshiVariable", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.sidebar-empty {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.sidebar-empty i {
  font-size: 80px;
  color: #e3e3e3;
}
.sidebar-empty p {
  font-family: "ClashDisplay-Regular";
  font-weight: 600;
}

.return-btn {
  padding: 1.5% 1.8%;
  background-color: #5E6821;
  color: white;
  border: none;
  transition: 300ms;
  cursor: pointer;
}
.return-btn:hover {
  background-color: #495019;
}

.shopping-top p {
  font-family: "ClashDisplay-Regular";
  font-weight: 600;
  font-size: 30px;
}

.shopping-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3% 0;
}

.video-card {
  height: 600px;
  width: 450px;
  overflow: hidden;
  position: relative;
  background-color: #000;
  cursor: pointer;
}

.video-card video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.7;
}

.video-card .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: 450px;
  padding: 0% 8%;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "SatoshiVariable", Arial, Helvetica, sans-serif;
}
.video-card .caption span {
  color: rgba(255, 255, 255, 0.6);
}
.video-card .caption p {
  color: white;
  font-size: xx-large;
}
.video-card .caption a {
  color: white;
  text-decoration: underline;
  text-decoration-color: rgba(163, 163, 163, 0.6);
  font-size: small;
}

.explore-section {
  padding: 0;
}

.explore-div {
  background-color: #5E6821;
  width: 100%;
  font-family: "ClashDisplay-Regular";
  font-size: 68px;
  padding: 6% 4%;
  color: white;
  font-weight: bold;
  height: 600px;
}

/*# sourceMappingURL=style.css.map */
